#dragPalette {
    width: 100%;
    touch-action: none;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch; */

    overflow: hidden;
    /* border-radius: 7px; */
    touch-action: none;
}

.dragItem {
    touch-action: none;
    /* position: absolute; */
    /* top: calc(0% + 50px);
    left: calc(0% + 50px); */
    width: 20px;
    height: 20px;
    /* background-color: #f5e663; */
    border: 3px solid #7D7D7D;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    transition: border-width 0.2s, margin 0.2s;
}



@media (hover: hover) and (pointer: fine) {
    .dragItem:hover {
        cursor: pointer;
        border-width: 8px;
        margin: -5px;
    }

    .dragItem:active {
        background-color: rgba(168, 218, 220, 1.00);
    }
}

@media (hover: none) and (pointer: coarse) {
    .dragItem:active, .dragItem:focus{
        /* cursor: pointer; */
        border-width: 8px;
        margin: -5px;
        background-color: rgba(168, 218, 220, 1.00);
    }
    .dragItem.active{
        /* cursor: pointer; */
        border-width: 8px;
        margin: -5px;
        background-color: rgba(168, 218, 220, 1.00);
    }
}